.venv
.env
.DS_Store
.vscode
dataset/detect_2/*
dataset/detect_1/*
dataset/dataset/*
dataset/dataset1/*
dataset/dataset2/*
dataset/ohio_small_animals_subset/*
dataset/california_small_animals_subset/*
dataset/inaturalist images/*
dataset/dataset_reid_crops/*
dataset/reid/images/*
dataset/reid/labels/*
.gradio
__pycache__
identification/weights/resnet50_backbone_final.pth
identification/weights/best_simclr.pth
detection/weights/best_retinanet.pth
detection/weights/best_faster_rcnn1.pth
detection/weights/best_faster_rcnn.pth
detection/results/detect_faster_rcnn/*
detection/results/detect_rtdetr/*

*.pt
*.pth

detection/active learning/data/*

